* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Roboto Condensed", sans-serif;
  height: 100vh;

  display: flex;
  align-items: center;
}

.container {
  background-color: #eee;
  display: flex;

  flex-direction: row;
  justify-content: center;
}

.item {
  background-color: #f1425d;
  padding: 30px;
  border-radius: 5px;
  color: #eee;
/*   max-width: 15%; */
  margin: -5px;

  flex: 0 0 30%;
}

.box__sedans {
  background-color: hsl(39, 98%, 59%);
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box__sedans--btn {
  color: hsl(39, 98%, 59%);
}

.box__suvs {
  background-color: hsl(248, 32%, 49%);
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.box__suvs--btn {
  color: hsl(248, 32%, 49%);
}

.box__luxury {
  background-color: hsl(249, 52%, 17%);
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.box__luxury--btn {
  color: hsl(249, 52%, 17%);
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

section {
  font-size: 15 px;
  font-weight: 300;
  margin-bottom: 80px;
  line-height: 2;
}

.icon {
  font-size: 40px;
  margin-bottom: 30px;
}

button {
  padding: 10px;
  border-radius: 100px;
  background-color: white;
  border: none;
  outline: none;
  max-width: 50%;

  align-self: flex-start;
  margin-bottom: 20px;
}
